* { 
    font-family: tahoma;
  }
  
  h1 { 
    font-size: 15pt;
    line-height:1.5em;
  }
  
  h2 { 
    font-size: 13pt;
    margin-top: 10pt;
    margin-bottom: 1pt;
  }
  
  table {
    font-size: 10pt;
    margin:0;
    padding:0;
    border: collapse;
    width:60%;
  }
  
  th {
    background-color: #555;
    color:white;
    padding: 7pt 0;
  }

  th.description { width:60%}
  th.name, th.id { width:20%}
  
  td {
    background-color: #efefef;
    padding: 3pt
  }
  
  .code {
    font-family:courier;
  }
  
  .top a {
    font-size:9pt;
    text-decoration:none;
    font-style: italic;
    color:#555;
    padding:5pt;
  }
  
  ol.contents {
    padding:0;
    margin: 0 0 0 15pt
  }
  
  li.content a {
    text-decoration:none;
    color:#555
  }
  
  